POSTGRES_DB=postgres-db
POSTGRES_USER=postgres-usuarios
POSTGRES_PASSWORD=postgres-senha

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/postgres-db
SPRING_DATASOURCE_USERNAME=postgres-usuarios
SPRING_DATASOURCE_PASSWORD=postgres-senha
SPRING_DATASOURCE_DOCKER_URL=jdbc:postgresql://postgres:5432/postgres-db
SPRING_DATASOURCE_DOCKER_USERNAME=postgres-usuarios
SPRING_DATASOURCE_DOCKER_PASSWORD=postgres-senha
SPRING_JPA_HIBERNATE_DDL_AUTO=none

KEYCLOAK_BOOTSTRAP_ADMIN_USERNAME=admin
KEYCLOAK_BOOTSTRAP_ADMIN_PASSWORD=admin

KEYCLOAK_BASE_URL=http://keycloak:8080
KEYCLOAK_REALM=rest-ms
KEYCLOAK_CLIENT_ID=rest-ms-api
KEYCLOAK_CLIENT_SECRET=rest-ms-api-secret
KEYCLOAK_ADMIN_USERNAME=api-admin
KEYCLOAK_ADMIN_PASSWORD=api-admin123

SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://keycloak:8080/realms/rest-ms
SPRING_FLYWAY_ENABLED=true
SPRING_FLYWAY_BASELINE_ON_MIGRATE=true

GOOGLE_CLIENT_ID=seu-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=seu-client-secret
GOOGLE_REFRESH_TOKEN=seu-refresh-token
GOOGLE_CALENDAR_ID=primary
