POSTGRES_DB=postgres-db
POSTGRES_USER=postgres-usuarios
POSTGRES_PASSWORD=postgres-senha

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/postgres-db
SPRING_DATASOURCE_USERNAME=postgres-usuarios
SPRING_DATASOURCE_PASSWORD=postgres-senha
