REST_MS_IMAGE=ghcr.io/clinica-odontologica-mariana/com-rest-ms:main

POSTGRES_DB=marianadias_db
POSTGRES_USER=root
POSTGRES_PASSWORD=4ts86gqJkiQY

KEYCLOAK_PUBLIC_URL=https://auth.marianadias.odo.br
KEYCLOAK_BOOTSTRAP_ADMIN_USERNAME=admin
KEYCLOAK_BOOTSTRAP_ADMIN_PASSWORD=4ts86gqJkiQY
KEYCLOAK_DB_SCHEMA=keycloak

KEYCLOAK_REALM=rest-ms
KEYCLOAK_CLIENT_ID=rest-ms-api
KEYCLOAK_CLIENT_SECRET=v25sCRUyvDOjHb2V6Yeh1xiPyd
KEYCLOAK_ADMIN_USERNAME=admin
# Must match the password defined for admin in keycloak/rest-ms-realm.json
KEYCLOAK_ADMIN_PASSWORD=admin123456

MINIO_ACCESS_KEY=marianadias_minio
MINIO_SECRET_KEY=n7g818LIu107wL8qh03Z
MINIO_BUCKET=com-rest-ms
MINIO_PUBLIC_ENDPOINT=https://files.marianadias.odo.br
MINIO_REGION=us-east-1
MINIO_PRESIGNED_URL_EXPIRATION_SECONDS=300
MINIO_CREATE_BUCKET_IF_MISSING=true


GOOGLE_CLIENT_ID=132894808572-
GOOGLE_CLIENT_SECRET=O3q
GOOGLE_REFRESH_TOKEN=
GOOGLE_CALENDAR_ID=primary
