REST_MS_IMAGE=ghcr.io/clinica-odontologica-mariana/com-rest-ms:main

POSTGRES_DB=your_database_name
POSTGRES_USER=your_database_user
POSTGRES_PASSWORD=your_database_password

KEYCLOAK_PUBLIC_URL=https://auth.marianadias.odo.br
KEYCLOAK_BOOTSTRAP_ADMIN_USERNAME=your_bootstrap_admin_username
KEYCLOAK_BOOTSTRAP_ADMIN_PASSWORD=your_bootstrap_admin_password
KEYCLOAK_DB_SCHEMA=keycloak

KEYCLOAK_REALM=rest-ms
KEYCLOAK_CLIENT_ID=rest-ms-api
KEYCLOAK_CLIENT_SECRET=your_keycloak_client_secret
KEYCLOAK_ADMIN_USERNAME=your_keycloak_admin_username
# Must match the password defined for admin in keycloak/rest-ms-realm.json
KEYCLOAK_ADMIN_PASSWORD=your_keycloak_admin_password

MINIO_ACCESS_KEY=your_minio_access_key
MINIO_SECRET_KEY=your_minio_secret_key
MINIO_BUCKET=your_minio_bucket
MINIO_PUBLIC_ENDPOINT=https://files.marianadias.odo.br
MINIO_REGION=us-east-1
MINIO_PRESIGNED_URL_EXPIRATION_SECONDS=300
MINIO_CREATE_BUCKET_IF_MISSING=true

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_REFRESH_TOKEN=your_google_refresh_token
GOOGLE_CALENDAR_ID=primary
